@{
  Layout = "_Layout";
}

@using Factory.Models;

<div class="jumbotron">
  <h2>Welcome to the Factory Management Database</h2>
  <p>Use the links below to view details of engineers or machines.</p>
  <p>Hovering over a link displays the matched repair licenses for that record.</p>
</div>
<div class="row">
  <div class="col-6">
    <h3>Engineers</h3>
    @if (ViewBag.Engineers.Count > 0)
    {
      <ul>
      @foreach (Engineer engineer in ViewBag.Engineers)
      {
        string licenses = "";
        foreach (EngineerMachine license in engineer.Licenses)
        {
          licenses += license.MachineId.ToString();
        }
        <li id="@("E"+engineer.EngineerId)" data-licenses=@licenses>@Html.ActionLink(@engineer.FullName, "Details", "Engineers", new {id = engineer.EngineerId})</li>
      }
      </ul>
    }
    else
    {
      <p>No engineers in database. Please use the link to add an engineer.</p>
    }
    @Html.ActionLink("Add an engineer", "Create", "Engineers")
  </div>
  <div class ="col-6">
    <h3>Machines</h3>
    @if (ViewBag.Machines.Count > 0)
    {
      <ul>
      @foreach (Machine machine in ViewBag.Machines)
      {
        string licenses = "";
        foreach (EngineerMachine license in machine.Licenses)
        {
          licenses += license.EngineerId.ToString();
        }
        <li id="@("M"+machine.MachineId)" data-licenses=@licenses>@Html.ActionLink(@machine.MachineName, "Details", "Machines", new {id = machine.MachineId})</li>
      }
      </ul>
    }
    else
    {
      <p>No machines in database. Please use the link to add an machine.</p>
    }
    @Html.ActionLink("Add a machine", "Create", "Machines")
  </div>
</div>

<script src="~/js/index.js"></script>